* {
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #eeeeee;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  position: relative;
  grid-template-columns: 100%;
}
header {
  width: 100%;
  background-color: #cf2b2b;
  height: 92px;
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;

  left: 0;
  grid-template-columns: 100%;
}
#contentHeader {
  width: 248px;
  height: 66px;
  margin-left: 21px;
  color: #ffffff;
}
#contentHeader > h1 {
  font-family: 'Righteous', cursive;
  font-size: 44px;
}
#contentHeader > p {
  font-size: 18px;
  font-weight: 400;
}
main {
  margin-left: 19px;
  margin-top: 123px;
  grid-area: main;
}
.container {
  height: auto;
  overflow-x: scroll;
  margin-bottom: 27px;
  
}
.card {
  width: 172px;
  height: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 16px;
}
h2 {
  font-family: 'Righteous', cursive;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 17px;
}
.contentCard {
  display: flex;
  width: 548px;
}
::-webkit-scrollbar {
  width: none;
}

.insideCard {
  width: 147px;
  height: 185px;
}
.insideCard > h3 {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 12px;
  padding-top: 8px;
}

.insideCard > p:nth-child(3),
p:nth-child(4) {
  font-size: 15px;
  font-weight: 300;
  color: #a6a6a6;
}
.insideCard > p:nth-child(5) {
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
  color: #000000;
}
footer {
  grid-area: footer;
  width: 100%;
  background-color: #ffffff;
  height: 92px;
  position: fixed;
  left: 0;
  z-index: 1000;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.standard {
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50px;
  width: 364px;
  height: 61px;
  font-size: 18px;
  color: #ffffff;
}
#Confirm {
  background-color: #32b72f;
  font-weight: bold;
}
#realizing {
  font-weight: 500;
  background-color: #cbcbcb;
}
.disable {
  display: none;
}
@media(max-width:800px){
  ::-webkit-scrollbar{
    width: inherit;
  }
}